@import './base.css';

@font-face {
  font-family: 'NeueHaasUnicaW1G-Bold';
  src: url('~@/assets/fonts/NeueHaasUnicaW1G-Bold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

#app {
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: rgb(167, 183, 201);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(164, 6%, 66%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
